{% extends 'yuvideo/viewpages.html' %}
{% comment %} 继承了viewpages.html {% endcomment %}
{% block tag %}
<a class="navbar-brand" href="{% url "yuvideo:main" %}">名站导航</a>
<a class="navbar-brand" href="#">搜索seach</a>
{% endblock tag %}


{% block mainbody %}
<tbody>
    <h1>搜索结果</h1>
    {% for title in titles %}
    <td>
        <dl>
            <dt><a href="{% url "yuvideo:video" title.videotag_id title.id %}" "target="_blank">{{title.videoname}}</a>
        </dl>
    </td>
    {% endfor %}
</tbody>
<p>{{error_msg}}</p>
{% endblock %}

{% block pages %}
<br><br>
<li class="step-links">
    <a class='active' href="{% url "yuvideo:main" %}">返回主页</a>
</li>
<div class="container">
    {% comment %} <div class="pagination center aligned menu"> {% endcomment %}
        <ul class="pagination">

            {% if titles.has_previous %}
            <li><a href="?page={{titles.previous_page_number}}">上一页</a></li>
            {% endif %}
            {% for page_num in titles.paginator.page_range %}

            {% if page_num == titles.number %}
            <li class="active"><span>{{ page_num }}</span></li>
            {% else %}
            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
            {% endfor %}
            {% if titles.has_next %}
            <li><a href="?page={{titles.next_page_number}}">下一页</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock pages %}

