{% extends 'mmonly/base.html' %}
{% comment %} 继承了base.html {% endcomment %}

{% block tag %}
<a class="navbar-brand" href="{% url "mmonly:main" %}">名站导航</a>
{% endblock tag %}
{% block mainbody %}
<div class="row">

  <h1>mmonly</h1>
  {% for tag in tags %}
  <div class="col-sm-6 col-md-3">

    <div class="list-group-item">
      <!-- <h4><a href="{% url "mmonly:urltag" tag.id %}">{{tag.tag}}</a></h4> -->
      <h3><a href="{% url "mmonly:urltag" tag.id %}">{{tag.tag}}</a></h3>
      <p>共有{{tag.num}}套</p>
      <a href="{% url "mmonly:list_title" tag.id %}" class="btn btn-default" role="button" target="_blank">列表</a>
      <a href="{% url "mmonly:urltag" tag.id %}" class="btn btn-default" role="button" target="_blank">
        预览
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock  %}